.North{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #1eff00;
    overflow-x: hidden;

}
.South{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: #82a8ee;
    
}

.image{
    width: 100vw;
}